body{
	font-family:Calibri;
	padding: 20px;
}

.li_resp{
	list-style-type: disc;
}

#container{
	margin: auto;
	text-align: center;
	width: 500px;
	min-width: 500px;
	border:1px solid lightgrey;
	border-radius: 5px;
	padding-left: 20px;
	padding-right: 20px;
}

#header{
	border-top:1px solid lightgrey;
	padding-bottom:30px;
	padding-top: 30px;
}

#res{
	text-align: left;
}


#div_co{
	margin: auto;
	text-align: center;
	width: 300px;
	border: 1px solid grey;
	padding:20px;
	border-radius: 5px;
	box-shadow: 1px 1px 10px grey;
	background-color: lightgrey;
}